.Doctor {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: linear-gradient(90deg, rgba(16, 7, 39, 0.6) 75%, rgba(16, 7, 39, 0.5) 100%),
		url("../assets/doctor-bg.avif");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

.dashboard-headers {
    font-size: 18px;
    margin: 20px 0;
}

/* Record */
.record-label {
    font-size: 15px;
    color: grey;
    margin-bottom: 0;
}

.record-text {
    font-size: 15px;
    margin-top: 5px;
}